body
{
    background-color:beige;
}
label
{
    padding: 10px;
    color:blue;
}
h1
{
    font-family:Georgia,'times new roman', times,serif;
}
input
{
    font-family:Verdana,Geneva, Tahoma,sans-serif;
}
textarea{
    font-size:16px;
}
#IDemail
{
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
}
